*.*
*

!*/
!.gitignore
!Makefile
!README.md
!/note/*
!/docs/*
!/report/*
report/*.pdf
!**/*.cpp
!**/*.hpp
!.githooks/*
!.vscode/launch.json
!.vscode/tasks.json
!**/Makefile
!test/test_case/*.rs

src_regex/*
