*.*
*

!*/
!.gitignore
!Makefile
!README.md
!/note/*
!/docs/*
!/report/*
!/report/output_ex/*
report/*.pdf
!**/*.cpp
!**/*.hpp
!.githooks/*
!.vscode/launch.json
!.vscode/tasks.json
!**/Makefile
!test/test_case/*.rs


!test_basic_example/**/

src_regex/*
